@if (loading()) {
  <div class="spinner-wrapper"><mat-spinner diameter="32" /></div>
} @else {
<div class="gallery">
  @for (symbol of symbols(); track symbol.id) {
    <div class="gallery-item" 
         [class.selectable]="selectable()"
         (click)="onSelect(symbol)">
      @if (symbol.imgs && symbol.imgs.length > 0) {
        <img [src]="symbol.imgs[0].url" [alt]="symbol.name" class="symbol-image" />
      } @else {
        <div class="symbol-image placeholder">
          <span>?</span>
        </div>
      }
      <div class="symbol-name">{{ symbol.name }}</div>
    </div>
  }
</div>
}
