<mat-card class="filiere-card" [class.inactive]="inactive()">
  <mat-card-header>
    @if (symbolImageUrl()) {
      <img [src]="symbolImageUrl()" alt="Symbol" class="symbol-avatar" mat-card-avatar />
    } @else {
      <mat-icon mat-card-avatar>school</mat-icon>
    }
    <mat-card-title>{{ filiere().name }}</mat-card-title>
  </mat-card-header>
  @if (symboleCount() !== undefined) {
    <mat-card-content>
      <div class="combinations-info">
        <mat-chip-set>
          <mat-chip 
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            (mouseenter)="showTooltip()"
            (mouseleave)="hideTooltip()">
            <mat-icon matChipAvatar>star</mat-icon>
            {{ symboleCount() }} emblème et circulaires
          </mat-chip>
        </mat-chip-set>
      </div>
    </mat-card-content>
    
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isTooltipOpen()"
      [cdkConnectedOverlayPositions]="[
        { originX: 'center', originY: 'top', overlayX: 'center', overlayY: 'bottom', offsetY: -8 },
        { originX: 'center', originY: 'bottom', overlayX: 'center', overlayY: 'top', offsetY: 8 }
      ]">
      <div class="tooltip-overlay" (mouseenter)="showTooltip()" (mouseleave)="hideTooltip()">
        <app-filiere-combinations-tooltip [combinations]="symboleCombinations()" />
      </div>
    </ng-template>
  }
</mat-card>
