<div class="page-container" [appScrollRestore]="'/table'">
  <div class="page-header">
    <div class="header-top">
      <h1><mat-icon>table_chart</mat-icon> Relations</h1>
      <button mat-raised-button color="primary" (click)="onAddRelation()" [disabled]="!isLoggedIn()">
        <mat-icon>add</mat-icon>
        Ajouter
      </button>
    </div>
  </div>
  <div class="page-content">
    @if (showSpinner()) {
      <div class="spinner-wrapper"><mat-spinner diameter="40" /></div>
    } @else {
      <app-table-relation />
    }
  </div>
</div>
