<div class="combinations-tooltip">
  @if (combinations().length === 0) {
    <p class="empty">Aucune combinaison</p>
  } @else {
    <div class="combinations-list">
      @for (combo of combinations(); track $index) {
        <div class="combination-item">
          <span class="symbol-name">{{ combo.symbolName }}</span>
          @if (combo.circulaireName) {
            <span class="separator">sur</span>
            <span class="circulaire-name">{{ combo.circulaireName }}</span>
          }
          @if (combo.colors.length > 0) {
            <span class="colors-container">
              @for (color of combo.colors; track color.name) {
                <app-color-badge 
                  [color]="{ id: color.name, name: color.name, colorData: color.colorData }" 
                  [matiere]="combo.matiere" />
              }
            </span>
          }
          @if (combo.hasSpe) {
            <span class="spe-badge">SPE</span>
          }
          @if (combo.hasBlame) {
            <span class="blame-badge">BLAME</span>
          }
          @if (combo.hasAbsent) {
            <span class="absent-badge">ABSENT</span>
          }
        </div>
      }
    </div>
  }
</div>
