<mat-card class="symbol-card">
  <mat-card-header>
    <mat-icon mat-card-avatar>star</mat-icon>
    <mat-card-title>{{ symbol()?.name || 'Symbole inconnu' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="combinations-info">
      <mat-chip-set>
        <mat-chip>
          <mat-icon matChipAvatar>assignment</mat-icon>
          {{ significationCount() }} signification(s)
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>school</mat-icon>
          {{ filiereCount() }} filière(s)
        </mat-chip>
      </mat-chip-set>
    </div>
    @if (hasImages()) {
      <div class="images-info">
        <mat-chip-set>
          <mat-chip>
            <mat-icon matChipAvatar>image</mat-icon>
            {{ imageCount() }} image(s)
          </mat-chip>
        </mat-chip-set>
      </div>
    }
  </mat-card-content>
</mat-card>
