<div class="relation-card" [class.spe-item]="relationData()?.link?.spe">
  @if (relationData(); as data) {
    <div class="relation-details">
      @if (data.link.spe) {
        <div class="detail-item spe-badge">
          <span class="label">Spécificité:</span>
          <span class="value spe-true">oui</span>
        </div>
      }
      
      @if (data.position) {
        <div class="detail-item">
          <span class="label">Position:</span>
          <span class="value">{{ data.position.name }}</span>
        </div>
      }
      
      @if (data.placement) {
        <div class="detail-item">
          <span class="label">Décernement:</span>
          <span class="value">{{ data.placement.name }}</span>
        </div>
      }
      
      @if (data.signification) {
        <div class="detail-item">
          <span class="label">Signification:</span>
          <span class="value">{{ data.signification.content }}</span>
        </div>
      }
      
      @if (data.symbolSens) {
        <div class="detail-item">
          <span class="label">Symbole Sens:</span>
          <span class="value">{{ data.symbolSens.name }}</span>
        </div>
      }
      
      @if (data.symbolAccessory) {
        <div class="detail-item">
          <span class="label">Symbole Accessoire:</span>
          <span class="value">{{ data.symbolAccessory.name }}</span>
        </div>
      }
      
      @if (data.filiere) {
        <div class="detail-item">
          <span class="label">Filière:</span>
          <span class="value">{{ data.filiere.name }}</span>
        </div>
      }
      
      @if (data.circulaire) {
        <div class="detail-item">
          <span class="label">Circulaire:</span>
          <div class="circulaire-content">
            <span class="value">{{ data.circulaire.name }} ({{ data.circulaire.matiere }})</span>
            @if (data.circulaireColors.length > 0) {
              <div class="colors-inline">
                @for (cc of data.circulaireColors; track cc.circulaireColor.id) {
                  @for (color of cc.colors; track color.id) {
                    <app-color-badge [color]="color" [matiere]="data.circulaire.matiere" />
                  }
                }
              </div>
            }
          </div>
        </div>
      }
    </div>
    
    <div class="action-buttons">
      <button mat-icon-button color="primary" [disabled]="!editable()" (click)="onEdit()" title="Modifier">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" [disabled]="!editable()" (click)="onDelete()" title="Supprimer">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  }
</div>
