<div class="filiere-detail">
  <div class="header">
    <h1 class="filiere-title">{{ filiere()?.name }}</h1>
    <button mat-raised-button color="primary" (click)="addLink.emit()">
      <mat-icon>add</mat-icon>
      Ajouter une relation
    </button>
  </div>
  
  @if (links().length > 0) {
    <div class="links-container">
      @for (link of links(); track link.id) {
        <app-filiere-link-item 
          [linkId]="link.id" 
          (editLink)="editLink.emit($event)" 
          (deleteLink)="deleteLink.emit($event)" />
      }
    </div>
  } @else {
    <p class="no-links">Aucune relation associée</p>
  }
</div>
