.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  flex: 1;
  overflow: auto;
  padding: 24px;
  background-color: var(--mat-sys-surface);
  background-image: url('/textures/noise.png');
  background-attachment: fixed;
  background-blend-mode: overlay;
  color: var(--mat-sys-on-surface);

  @media (max-width: 599px) {
    padding: 12px;
  }
}
