:host{
    --upload-form-height:200px
    --upload-form-border-radius:5px
    --upload-form-color-bg: #ffffff;
    --upload-form-color:blue;
    --upload-form-fileover-bg:orange;
    --upload-form-fileover-color:orange;
    --upload-form-fileover-error-bg:red;
    --upload-form-fileover-error-color:red;
    --upload-form-delete-btn-bg:orange;
    --upload-form-delete-btn-color:orange;

    --upload-form-message-height:60px;

    --upload-form-success-color:green;
    --upload-form-error-color:red;
    --upload-form-spinner-color:green;
    app-upload-item{
        --upload-item-height: 200px;
        --upload-item-success-color:var(--upload-form-success-color);
        --upload-item-error-color:var(--upload-form-error-color);
        --upload-item-spinner-color:var(--upload-form-spinner-color);
            
        --upload-item-color-bg :var(--upload-form-color-bg);
        --upload-item-color:var(--upload-form-color);
        --upload-item-border: solid 1px var(--upload-form-color);
        --upload-item-border-radius: var(--upload-form-border-radius);
        --upload-item-fileover-border:solid 1px var(--upload-form-fileover-color);
        --upload-item-fileover-color:var(--upload-form-fileover-color);
        --upload-item-fileover-error-border:solid 1px var(--upload-form-fileover-error-color);
        --upload-item-fileover-error-color: var(--upload-form-fileover-error-color);

        --upload-item-delete-btn-bg:var(--upload-form-delete-btn-bg);
        --upload-item-delete-btn-color:var(--upload-form-delete-btn-color);

        --upload-item-success-color:green;
        --upload-item-error-color:pink;
        
    }

    .message{
        height:var(--upload-form-message-height);
        display: flex;
        align-items: center;
        justify-content: center;
        &.error{
            color:var(--upload-form-fileover-error-color);
            >span{
                &::first-letter{
                    text-transform: uppercase;
                }
            }
        }
        button{
            text-transform: capitalize;
            background-color: var(--upload-form-color);
            --mdc-text-button-label-text-color: var(--upload-form-color-bg);
            --mdc-text-button-disabled-label-text-color:var(--upload-form-color);
            &:disabled{
                background-color: transparent;
                opacity: 0.5;
            }

        }
    }
}