<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <div class="collection-container">
    <ng-container *ngComponentOutlet="data.collectionComponent; 
                                       inputs: { selectable: true }; 
                                       outputs: { selection: onItemSelected.bind(this) }" />
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" (click)="onConfirm()" [disabled]="!selectedItem">
    Sélectionner
  </button>
</mat-dialog-actions>
