<mat-card class="symbol-card">
  <mat-card-header>
    @if (symbol.imgs && symbol.imgs.length > 0) {
      <div class="symbol-image-container" mat-card-avatar>
        <img [src]="symbol.imgs[0].url" [alt]="symbol.name" class="symbol-image">
        @if (symbol.imgs.length > 1) {
          <div class="image-count-badge">{{ symbol.imgs.length }}</div>
        }
      </div>
    } @else {
      <mat-icon mat-card-avatar>hide_image</mat-icon>
    }
    <mat-card-title>{{ symbol.name }}</mat-card-title>
  </mat-card-header>
</mat-card>
