<div class="collection">
  @for (symbolAccessory of symbolsAccessory(); track symbolAccessory.id) {
    <div class="collection-item" 
         [class.selectable]="selectable()"
         (click)="onSelect(symbolAccessory)">
      {{ symbolAccessory.name }}
    </div>
  } @empty {
    @if (searchTerm()) {
      <div class="empty-state">
        <p>Aucun symbole accessoire trouvé</p>
        <button mat-raised-button color="primary" (click)="onCreate()">
          <mat-icon>add</mat-icon>
         Ajouter la recherche
        </button>
      </div>
    }
  }
</div>
